{
  "policies": {
	   "Extensions": {
             "Install": [
			{% for item in FirfoxPlugins %}
			"https://addons.mozilla.org/firefox/downloads/latest/{{ item }}/latest.xpi"{{ "," if not loop.last }}
			{% endfor %}
	     ]
    }
  }
}
